@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar Styles */
.scrollbar-thin::-webkit-scrollbar {
   width: 6px;
}

.scrollbar-thin::-webkit-scrollbar-track {
   background: transparent;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
   background-color: #93C5FD;
   border-radius: 3px;
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
   background-color: #60A5FA;
}

.hide-scrollbar::-webkit-scrollbar {
   display: none;
}

.hide-scrollbar {
   -ms-overflow-style: none;
   scrollbar-width: none;
}

/* FONTS */
.text-istok-bold {
   font-family: "Istok Web", sans-serif;
   font-weight: 700;
   font-style: normal;
}

.text-telugu {
   font-family: "Anek Telugu", sans-serif;
   font-optical-sizing: auto;
   font-weight: 700;
   font-style: normal;
   font-variation-settings:
      "wdth" 100;
}

.text-telugu-thin {
   font-family: "Anek Telugu", sans-serif;
   font-optical-sizing: auto;
   font-weight: 500;
   font-style: normal;
   font-variation-settings:
      "wdth" 100;
}